*.class
*.log

# sbt specific
.cache
.history
.bsp/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
.project
.classpath
.settings
bin
.cache-main
.cache-tests


# System specific
.DS_Store
*~

postgresql-9.4-1201.jdbc4.jar
liquibase.jar
liquibase.tar.gz
